.red{
  color: red;
}

table{
  width: 100%;
  padding-top: 20px;
}

th, td{
  text-align: left;
  padding: 5px 30px 5px 10px;
}

th{
  color:white;
  background-color: #90b4d6;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -1px -1px 1px #666;
  border-top: 1px solid #90b4d6;
  border-bottom: 1px solid #547ca0;
  border-right: 1px solid #749abe;
  border-left: 1px solid #749abe;
}

td{
  text-shadow: 1px 1px 1px white;
  border-top: 1px solid #F1F8FE;
  border-bottom: 1px solid #CBD2D8;
  border-right: 1px solid #CBD2D8;
  border-left: 1px solid #CBD2D8;
}

input, select{
  font-size: 100%;
  border: 1px solid #CBD2D8;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}

input:focus, select:focus {
  background-color:#ECF0FC;
  border: 1px solid #666;
}

.btn{
  transition-duration: 0.4s;
}

.update:hover{
  color: #0dcaf0;
  background-color: white;
}

#add_btn:hover{
  color: #198754;
  background-color: white;
}

#add_category:hover{
  color: #FFC30B;
  background-color: white;
}

.delete:hover{
  color: #dc3545;
  background-color: white;
}

.formButton{
  border: 1px solid #1B047C;
  background-color: #842BD7;
  color: white;
  border-radius: 5px;
}

.formButton:hover{
  border: 1px solid #1B047C;
  background-color: white;
  color: #842BD7;
  cursor: pointer;
}

nav ul{
  list-style-type: none;
}

nav a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #323c64;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
