/*initial shopping lists' name's editor style*/

div .editor {
    display: none;
}


/*Allow item in the shopping list scrollable */

.scroll-section {
    margin-top: 5px;
    max-height: 500px;
    overflow-y: auto;
    background-color: rgba(128, 128, 128, 0.1);
}


/*----------------Create New Shopping List-------------------*/


/* Style the header class of the add shopping list area  */

.header {
    background-color: lightblue;
    border-radius: 8px;
    padding: 30px 40px;
    color: black;
    text-align: center;
}


/* Clear floats after the header */

.header:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the input */

#myInput {
    margin: 0;
    border: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 85%;
    padding: 10px;
    float: left;
    font-size: 16px;
}


/* Style the "Add" button */

.addBtn {
    padding: 9px;
    padding-bottom: 8px;
    width: 15%;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: 2px solid #32793a;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    background-color: #32793a;
    font-weight: bolder;
    transition-duration: 0.4s;
}

.addBtn:hover {
    background-color: white;
    color: #32793a;
}


/*-----------------cart item-----------------*/

table {
    width: 100%;
    border-collapse: collapse;
}


/*remove list trash button*/

.bi-trash-fill:hover {
    fill: darkred;
}


/*remove item button*/

.remove {
    color: red;
    margin: -4px;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    font-size: 12px;
}

.remove:hover {
    color: red;
    background-color: rgba(255, 0, 0, 0.3);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}


/*area of the items in the shopping list*/

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 10px;
    color: black;
    background: lightblue;
    border-radius: 2px;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}


/*area of the total price in a single shopping list*/

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid lightblue;
    width: 100%;
    max-width: 440px;
}


/*align last column to right*/

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

tr {
    border-top: rgba(0, 0, 0, 0.25) 1px solid;
    margin-block: 5px;
}


/*status of the product item when available*/

.available {
    font-size: 10px;
    margin: 0 0 3px;
    color: white;
    padding: 2px;
    width: fit-content;
    font-weight: bolder;
    background: #19875493;
    border-radius: 5px;
}


/*status of the product item when out of stock*/

.outStock {
    font-size: 10px;
    margin: 0 0 3px;
    color: white;
    padding: 2px;
    width: fit-content;
    font-weight: bolder;
    background: #dc35467e;
    border-radius: 5px;
}


/* ------- quantity box -------- */

.quantity {
    display: inline-block;
}


/*quantity input area*/

.quantity .input-text.qty {
    width: 35px;
    height: 39px;
    text-align: center;
    background-color: transparent;
    border: 1px solid black;
    border-right: none;
    border-left: none;
}


/*style the button for the "+" and "-" */

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}


/*style the "+" and "-" text in the button */

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}


/*style both of the "+" and "-" button */

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 39px;
    background-color: #ffffff;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 1px;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}


/*style both of the "+" and "-" button when hover*/

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}

.accordion-item-list {
    background-color: rgba(211, 211, 211, 0.9);
}


/*----Home button in the shopping list when the shopping list is empty-------*/

.backIndex:hover {
    padding: 4px;
    text-decoration: underline;
    border-radius: 3px;
    background: rgba(173, 216, 230, 0.4);
    font-weight: bolder;
}


/*---------Style the scroll bar of the entire pages------------*/

body::-webkit-scrollbar {
    width: 7px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #323c64;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}