table{
    width: 1000px;
    padding-top: 20px;
}
  
th, td{
    text-align: left;
    padding: 5px 30px 5px 10px;
}
  
th{
    color:white;
    background-color: #90b4d6;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -1px -1px 1px #666;
    border-top: 1px solid #90b4d6;
    border-bottom: 1px solid #547ca0;
    border-right: 1px solid #749abe;
    border-left: 1px solid #749abe;
}
  
td{
    text-shadow: 1px 1px 1px white;
    border-top: 1px solid #F1F8FE;
    border-bottom: 1px solid #CBD2D8;
    border-right: 1px solid #CBD2D8;
    border-left: 1px solid #CBD2D8;
}

td .status{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.status.pending{
    background: yellow;
    margin-right: 10px;
}

.status.reject{
    background: red;
    margin-right: 10px;
}

.status.accept{
    background: green;
    margin-right: 10px;
}

.btn{
    transition-duration: 0.4s;
  }
  
.btn-info:hover{
    color: #0dcaf0;
    background-color: white;
}

body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #323c64;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}
  