main label{
    margin: 20px;
}

main input{
    margin: 20px;
}

#forgot{
    margin: 30px;
}

.valid_section {
    position:relative;
}

.valid_section i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
}

.i_check i{
    position: absolute;
    top: -8px;
    right: -8px;
    visibility: hidden;
}

.i_check small{
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    left: 20px;
    width: 350px;
}

.valid_section.success input{
    border-color: #2ecc71 !important;
}

.valid_section.error input{
    border-color: #e74c3c;
}

.valid_section.success {
    color: #2ecc71;
    visibility: visible;
}

.valid_section.error #bi-exclamation-circle-fill{
    color: #e74c3c;
    visibility: visible;
}

.valid_section.error small{
    color: #e74c3c;
    visibility: visible;
}

#hide1{
    display: none;
}

#hide3{
    display: none;
}

#hide5{
    display: none;
}

.eye{
    position: absolute;
    top:  -8px;
    right: -8px;
}