main label{
    margin: 10px;
}

main input{
    margin: 10px;
}

main{
    width: 80vw;
}

.btn-danger{
    width: 100%;
    margin-bottom: 100px;
    margin-left: 10px;
}

main .btn-primary{
    width: 100%;
}

table{
    width: 60%;
}

main img{
    max-width: 200px;
    max-height: 2000px;
    margin: 20px;
}

.image{
    padding-left: 50px;
    margin-right: 50px;
}