main label{
    margin: 10px;
}

main input{
    margin: 10px;
}

main{
    margin-left: 150px;
    width: 60%;
}

.btn-danger{
    width: 60%;
    margin-bottom: 100px;
    margin-left: 10px;
}

.btn-primary{
    margin-left: 30px;
}

table{
    width: 60%;
}