*{
    box-sizing: center;
}

.container-fluid{
    display: inline-block;
}

nav{
    float: left;
    height: 60vh;
    margin-left: -5px;
}

nav ul{
    width: 15vw;
}

main{
    float: left;
    padding-top: 25px;
    padding-left: 100px;
    min-height: 500px;
    width: 80vw;
    border-left: 1px solid lightgray;
}

.btn-primary,.btn-info,.btn-danger{
    transition-duration: 0.2s;
}

.btn-primary:hover{
    background-color: white;
    color: black;
    border: 2px solid #0275d8; 
}

.btn-info:hover{
    background-color: white;
    color: black;
    border: 2px solid #5bc0de; 
}

.btn-danger:hover{
    background-color: white;
    color: black;
    border: 2px solid #d9534f; 
}

.btn-success:hover{
    background-color: white;
    color: black;
    border: 2px solid #5cb85c; 
}