*{
    box-sizing: center;
    font-family: sans-serif;
}

header,nav,main,footer{
    display:block
}

nav{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

nav ul{
    font-size: 1.2em;
}

main{
    display: block;
    float:left;
    margin: 50px 0px 0px 50px;
    width: 70%;
}

