*{
    box-sizing: center;
    font-family: sans-serif;
}

header,nav,main,footer{
    display:block
}

nav{
    width: 20%;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

nav li{
    margin-left: 20px;
}

nav ul{
    list-style-type: none;
    display: block;
    float:left;
    font-size: 1.2em;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: orange;
}

main{
    display: block;
    float:left;
    margin: 50px 0px 0px 50px;
    width: 70%;
}

