  .row a{
        color: rgb(0, 0, 0);
    }

  .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .social-media {
    display: flex;
    justify-content:center;
  }
  
  .social-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }

  .col-md-6 input::placeholder {
    color: #aaa;
    font-weight: 500;
    font-size: 15px;
  }

  .form-type {
    max-width: 550px;
    width: 100%;
    background-color: #f0f0f0;
    height: 50px;
    border-radius: 20px;
    padding: 0 0.4rem;
    position:relative;
    outline: none;
    border: none;
  }
  
  .form-type i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
  }
  
  .form-type input {
    background: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }

  .col-md-3 input::placeholder {
    color: #aaa;
    font-weight: 500;
    font-size: 15px;
  }

  .footer{
    background:#364F6B; 
    color:#ffffff ;
    font-size: 14px;
    padding: 30px 0 10px;
    width: 100%;
    float: left;
  }

  .footer p{
     color: #ffffff;
  }

  .footer h4{
    color: rgb(0, 243, 182);
    margin-bottom: 12px;
  }

  .footer-col-1, .footer-col-2, .footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 12px;
  }

  .footer-col-1{
    flex-basis:30%;
  }

  .footer-col-2{
    flex:1;
    text-align: center;
  }

  .footer-col-2 li{
    padding-left: 50px;
  }

  .footer-col-2 img{
    width: 70px;
    height: 32px;
  }

  .footer-col-3, .footer-col-4{
      flex-basis: 12%;
      text-align: center;
  }

  .footer ul{
    list-style-type: none;
    text-align:justify;
    padding-left: 40px;
  }

  .app-logo{
    margin-top: 20px;
  }

  .app-logo img{
    width: 140px;
  }

  .footer hr{
    border: none;
    background: #3fc1c9;
    height: 1px;
    margin: 20px 0;
  }

  .copyright{
    text-align: center;
  }

  .i_check i{
    position: absolute;
    top: 55px;
    right: 50px;
    visibility:hidden;
  }

  .i_check small{
    visibility: hidden;
    position: absolute;
    bottom: -18px;
    left: 7px;
  }

  .col-md-3.success input{
    border-color: #2ecc71;
  }

  .col-md-3.error input{
    border-color: #e74c3c;
  }

.col-md-3.success #bi-check-circle-fill{
  color: #2ecc71;
  visibility: visible;
}


.col-md-3.error #bi-exclamation-circle-fill{
  color: #e74c3c;
  visibility: visible;
}

.col-md-3.error small{
  color: #e74c3c;
  visibility: visible;
}

.form hr{
  border: none;
  background: #3fc1c9;
  height: 3px;
  width: 550px;
  right: auto;
}

.i_check2 i{
  position:absolute;
  right: 46px;
  top: 10px;
  visibility:hidden;
}

.i_check2 small{
  visibility: hidden;
  position:absolute;
  bottom: -20px;
  left: 7%;
}

.col-md-2.error #bi-exclamation-circle-fill{
  color: #e74c3c;
  visibility: visible;
}

.col-md-2.error small{
  color: #e74c3c;
  visibility: visible;
}

#sign_text{
  color: #3fc1c9;
}

.btn:hover{
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 6px;
  border-color: rgb(38, 126, 209);
  transition-duration: 0.4s;
}

#hide1{
  display: none;
}

#hide3{
  display: none;
}

.eye{
  position: absolute;
  top: 55px;
  right: 22px;
  color:#aaa;
}