.form-type input::placeholder {
    color: #aaa;
    font-weight: 500;
    top: 30px;
  }
  
  .form-type {
    max-width: 350px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px auto;
    height: 55px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 0 0.4rem;
    position:relative;
  }
  
  .form-type i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
  }
  
  .form-type input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }

  .i_check i{
    position: absolute;
    top: 1px;
    right: 60px;
    visibility: hidden;
  }
  
  .i_check small{
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    left: 7px;
  }

  .form-type.success input{
    border-color: #2ecc71 !important;
  }

  .form-type.error input{
    border-color: #e74c3c;
  }

  .form-type.success #bi-check-circle-fill{
    color: #2ecc71;
    visibility: visible;
}


  .form-type.error #bi-exclamation-circle-fill{
    color: #e74c3c;
    visibility: visible;
  }

  .form-type.error small{
    color: #e74c3c;
    visibility: visible;
  }

  #hide1{
    display: none;
  }

  #hide3{
    display: none;
  }

  .eye{
    position: absolute;
    top: 2px;
    right: 22px;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
